@import './utils';

.TodoTemplate {
  width: 500px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5rem;
  border-radius: 6px;
  overflow: hidden;

  .title {
    background: $oc-pink-7;
    color: $oc-gray-0;
    height: 4rem;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-cotent: center;
  }

  .content {
    background: $oc-gray-0;
  }
}